<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>
<div class="container" style="margin-bottom: 100px;">
  <h3>I'm in component</h3>
  <hr />
  <app-servers></app-servers>
  <!--<div class="jumbotron">
    <div class="container">
      <app-user></app-user>
    </div>
  </div>-->

  <button (click)="showDetail()" class="btn btn-default">Show detail</button>
  <p *ngIf="isShow">Secret password is 'TUNA'</p>
  <div *ngFor="let log of btnClickLogs; let i = index"
    [ngStyle]="{'backgroundColor': i >= 5 ? 'blue' : 'transparent'}" 
    [ngClass]="{'white-text': i >= 5}">
    {{ log }}
  </div>
</div>
<app-footer></app-footer>



